body{
    background: #202124;
    color: white;
    width: 100%;
    height: 100%;
    button{
        color: white;
    }
}

html{
    text-align: center;
}
main{
    margin-top: 5rem;
}

.meiogoogle{
    margin-top: 200px;
    width: 300px;
    z-index: 1;
    border-radius: 17px;
    background-color: white;
    height: 40px;
    position: absolute;
}
.valor{
    margin-right:160px ;
    width: 460px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 78px;
    z-index: 999;
}


.Ajeitar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.imagemInput{
    height: 20px;
    width: 20px;
}

.MeioGoogle{
    .button{
        background: #54575e;
        border-radius: 5px;
        height: 50px;
        width: 150px;
    }
    text-align: center;
}


.cabecalho{
    button{
        border:none;
        background:none}
        img{
            height: 30px;
            width: 30px;
        }
        display: flex;
        justify-content: flex-end;
}

.perfil{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.FotoGoogle{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 5rem;
}


.Rodape{
    button{
        border:none;
        background:none
    }
    background-color: #101112;
    position: absolute; /* Posiciona a div de forma absoluta */
    bottom: 0; /* Posiciona a div na parte inferior do contêiner */
    left: 0; /* Alinha à esquerda */
    right: 0; /* Alinha à direita */
}


.PrimeiroRodape,.SegundoRodape{
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    position: relative;
    left: 30px;
}

h5{
    display: flex;
    align-items: start;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}


a{
    text-decoration: none;
    color: white;
}